a {
    cursor: pointer;
}
.help-block {
    font-size: 12px;
}
.basic {
	font-size: 10px;
}
.one {
	font-size: 12px;
}
.two {
	font-size: 13px;
}
.three {
	font-size: 14px;
}
.four {
	font-size: 15px;
}
.five {
	font-size: 16px;
}
.six {
	font-size: 17px;
}
.seven {
	font-size: 18px;
}
.eight {
	font-size: 19px;
}
.nine {
	font-size: 20px;
}
.ten {
	font-size: 21px;
}