<div class="row">
    <div class="col-xs-12 col-md-12">
        <h1>Hi {{currentUser.name}}!</h1>
        <form>
          <div class="form-group">
            <label for="planetName">Planet Name:</label>
            <input type="text" [formControl]="planetNameControl" class="form-control" id="planetName" placeholder="Alderaan">
            {{planetName}}
          </div>
        </form>
    </div>
    <div class="col-xs-12 col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Diameter</th>
              <th>Population</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let planet of planets | orderBy: { property : column, direction: direction} ; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{planet.name}}</td>
              <td>{{planet.diameter}}</td>
              <td [ngClass]="customClass(i, planet.population)" >{{planet.population}}</td>
            </tr>
          </tbody>
        </table>
        <p><a [routerLink]="['/login']">Logout</a></p>
    </div>
</div>